.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    max-height: 90%;
    overflow: auto;
    min-width: 90%;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    overflow-y: auto;
    min-width: 30%;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .report-header h2 {
    text-align: center;
  }
  
  .report-metadata p {
    text-align: center;
    color: #666;
    font-size: 0.9rem;
  }
  
  .report-content {
    margin-top: 20px;
  }
  
  .report-section {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .question-text {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .score {
    font-weight: bold;
    margin-left: 10px;
    color: #fff;
    border-radius: 25px;
    
  }
  
  .score-0 { background-color: #FF4136; }
  .score-1 { background-color: #FF851B; }
  .score-2 { background-color: #2ECC40; }
  .score-3 { background-color: #0074D9; }
  
  .principle, .answer {
    margin-top: 5px;
  }
  
  .explanation {
    background-color: #f2f4f5;
    border-left: 4px solid #0074D9;
    padding: 10px;
    margin-top: 5px;
  }
  
  .report-footer {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  