.multi-view-report-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    max-height: 90%;
    overflow: auto;
    min-width: 90%;
}

.multi-view-report {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    overflow-y: auto;
    min-width: 30%;
    position: relative;
}


.question-item {
    margin-bottom: 10px;
}

.question-text {
    font-weight: bold;
}

.score {
    font-weight: bold;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
}

.explanation {
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f4f5;
    border-left: 4px solid #0074D9;
}

@media screen and (max-width: 768px) {
    .multi-view-report-overlay {
        flex-wrap: wrap;
        justify-content: center;
    }
    .multi-view-report {
        max-width: calc(100% - 20px);
        margin-top: 20px;
    }
}
