/* NewReport.css */

.new-report-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 0px 35px;
  }
  
  .new-report-form {
    max-width: 600px;
    width: 90%; /* Adjust the width as needed */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .new-report-form h2 {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 20px; /* Increase margin between questions */
  }
  
  .question-label {
    font-family: Arial;
    display: block;
    margin-bottom: 10px; /* Adjust margin for question labels */
    font-size: 18px; /* Increase font size for question labels */
  }
  
  .question-input {
    width: 100%;
    padding: 12px; /* Increase padding for input fields */
    font-size: 16px; /* Increase font size for input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 15px 30px; /* Increase padding for the submit button */
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px; /* Increase font size for the submit button */
    cursor: pointer;
  }

  /* NewReport.css */

/* Light mode styles */
.new-report-container {
    padding: 90px 0px 50px 0px ;
    background-color: #fff;
    color: #333;
  }
  
  .question-label {
    color: #333;
  }
  
  .question-input {
    background-color: #f9f9f9;
    color: #333;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Dark mode styles */
  .new-report-container.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .question-label.dark-mode {
    color: #fff;
  }
  
  .question-input.dark-mode {
    background-color: #444;
    color: #fff;
  }
  
  .submit-button.dark-mode {
    background-color: #ff6f61;
    color: #fff;
  }
  
  
  