html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

:root {
    /* Light mode colors */
    --background-color: white;
    --header-bg-color: white;
    --text-color: #333;
    --accent-color: #007bff; /* Light blue */
    --button-hover-color: #0056b3;
    --border-color: #dcdcdc;
    --error-color: red;
    --folder-bg-color: #f2f2f2;
    --table-header-bg-color: #e3f2fd;
    --box-shadow-color: rgba(0,0,0,0.1);
  }
  
  .dark-mode {
    /* Dark mode colors */
    --background-color: #333;
    --header-bg-color: #1a1a1a;
    --text-color: #ffffff;
    --accent-color: #ff5722; /* Coral color for the button */
    --button-hover-color: #e64a19;
    --border-color: #333333;
    --error-color: #ff0033;
    --folder-bg-color: #262626;
    --table-header-bg-color: #333333;
    --box-shadow-color: rgba(255,255,255,0.1);
  }
  
  .reports-container {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--header-bg-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
  }
  
  .current-folder {
    background-color: var(--folder-bg-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: var(--text-color);
  }
  
  .open-folder-btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .open-folder-btn:hover {
    background-color: var(--button-hover-color);
  }
  
  .error-message {
    color: var(--error-color);
    padding: 1rem;
  }
  
  .files-list-container {
    flex-grow: 1;
    overflow: auto;
  }
  
  .files-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .files-table th, .files-table td {
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
  }
  
  .files-table th {
    background-color: var(--table-header-bg-color);
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .current-folder,
    .open-folder-btn {
      width: 100%;
      margin-top: 0.5rem;
    }
  
    .open-folder-btn {
      margin-bottom: 0.5rem;
    }
  
    .files-table th, .files-table td {
      padding: 0.5rem;
    }
  }
  