/* report.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure the modal is on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    position: relative; /* Ensure the close button is positioned relative to the modal */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    max-width: 80%; /* Adjust modal width as needed */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; /* Add cursor pointer for better UX */
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333; /* Adjust the color as needed */
  }
  
  .close-btn:hover {
    color: #000; /* Change color on hover */
  }
  
  .file-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .file-name-container button {
    margin-left: 10px; /* Adjust margin as needed */
  }

  .question-item {
    margin-bottom: 10px;
  }
  
  .question-text {
    font-weight: bold;
  }
  
  .score {
    font-weight: bold;
  }
  
  .score-0 {
    color: red;
    font-weight: bold;
    font-size: 30px;
  }
  
  .score-1 {
    color: #f8cc07;
    font-weight: bold;
    font-size: 30px;
  }
  
  .score-2 {
    color: rgb(175, 241, 67);
    font-weight: bold;
    font-size: 30px;
  }
  
  .score-3 {
    color: green;
    font-weight: bold;
    font-size: 30px;
  }
  